{% extends 'layouts/pedidosBase.html' %}


{% block title %} Cart {% endblock title %}


{% block body_class %} index-page {% endblock body_class %}


{% block contentTitle %} Cart {% endblock contentTitle %}

{% block content %}

{% for bikeInCart in bikesInCart %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4" style="margin: auto;">
        <img src={{bikeInCart.bike.image}} class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body text-left">
          <h5 class="card-title">{{bikeInCart.bike.name}}</h5>
          <p class="card-text">Amount</p>
          <p class="card-text">Price: {{bikeInCart.bike.precio}} €</p>
          <a href="/configureBike/{{ bikeInCart.bike.id }}/">
            <button name="edit" type="button" class="btn btn-sm bg-gradient-primary">Edit</button>
          </a>
          <a href="/deleteBike/{{ bikeInCart.bike.id }}/">
            <button name="delete" type="button" class="btn btn-sm bg-gradient-secondary">Delete</button>
          </a>

        </div>
      </div>
    </div>
    
</div>


{% endfor %}

{% for componentInCart in componentsInCart %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4" style="margin: auto;">
        <img src={{componentInCart.component.image}} class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body text-left">
          <h5 class="card-title">{{componentInCart.component.name}}</h5>
          <p class="card-text">Amount</p>
          <p class="card-text">Price: {{componentInCart.component.precio}} €</p>
          <a href="/deleteComponent/{{ componentInCart.component.id }}/">
            <button name="delete" type="button" class="btn btn-sm bg-gradient-secondary">Delete</button>
          </a>
        </div>
      </div>
    </div>
    
</div>


{% endfor %}



<div class="card position-absolute top-50 end-0 translate-middle-y me-12" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Orders</h5>
    {% for bikeInCart in bikesInCart %}

      <!-- <div class="start-0 translate-middle-y">
        <p class="card-text" style="text-align: start;">{{bikeInCart.bike.name}}</p>
      </div>
      <div class="end-0 translate-middle-y">
        <p class="card-text" style="text-align: start;"> {{bikeInCart.bike.precio}}€</p>
      </div> -->

    <div class="container">
      <div class="row">
        <div class="col-6" style="text-align: start;">{{bikeInCart.bike.name}}</div>
        <div class="col-6" style="text-align: end;">{{bikeInCart.bike.precio}}€</div>
      </div>
    </div>



    {% endfor %}

    {% for componentInCart in componentsInCart %}
    <div class="container">
      <div class="row">
        <div class="col-6" style="text-align: start;">{{componentInCart.component.name}}</div>
        <div class="col-6" style="text-align: end;">{{componentInCart.component.precio}}€</div>
      </div>
    </div>
    {% endfor %}

    <br>
    <div class="container">
      <div class="row">
        <div class="col-6" style="text-align: start;">Total</div>

        <div class="col-6" style="text-align: end;">{{precioTotal}}</div>
      </div>
    </div>
    <br>

    <a href="buy/" class="btn btn-primary">Pay</a>
  </div>
</div>


{% endblock content %}
