{% extends 'layouts/pedidosBase.html' %}

{% block title %} Search results {% endblock title %}

{% block body_class %} index-page {% endblock body_class %}

{% block contentTitle %} Search results {% endblock contentTitle %}



{% load static %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{% static 'pages/styles.css' %}" />
{% endblock stylesheets %}

{% block content %}

<div class="row d-flex justify-content-around text-center">
<form class="d-flex" method="POST" action="{% url 'search' %}">
  {% csrf_token %}
  <input class="form-control me-2" type="search"
  placeholder="Search components" arial-label="Search"
  name="buscar">
  <button class="btn btn-outline-secundary" type="submit">
  Search</button
</form>
</div>
<form method="post" action="" role="form">

    {% csrf_token %}
    <div id="list">

    
    
        <div class="row d-flex justify-content-around text-center">
            {% for pr in products %}
            <div class="col-md-1"></div>
            <div class="col-md-8">
            <input type="checkbox" id="{{ pr.id }}" name="componentes" value="{{ pr.id }}" class="botonRadio">
            <label for="{{ pr.id }}"><div><img src="{{pr.image.name}}"></div><div class="labelText">name: {{ pr.name }} <br> price: {{ pr.precio }} <br> description: {{pr.description}}</div></label><br>
            </div>
            <div class="col-md-3"></div>
        {% endfor %}
        </div>

        <div class="row d-flex justify-content-around text-center">
            <div class="col-md">
              <button type="submit" name="Add" class="btn btn-lg bg-gradient-primary btn-lg w-75 mt-4 mb-0" style="margin-left: 28px;">Add</button>
            </div>
        </div>
    
    </div>

</form>


{% endblock content %}